.container h1 {
	text-align: center;
}

#sections h4, .column h2 {
	text-align: center;
}

img {
	border-radius: 50%;
}

.sectionTitle {
	font-family: 'Monoton', cursive;
}

#header {
	background: #ef32d9;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #89fffd, #ef32d9);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #89fffd, #ef32d9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 4em;
	font-family: 'Monoton', cursive;
	font-size: 4em;
	color: white;
}

#workBackground {
	background-color: #00529B;
	color:white;
	padding-bottom: 1em;
	padding-top: 1em;
}

.workBullets {
	padding-left: 10%;
	padding-right: 10%;
	list-style-image: url("USAF_logo_small.svg");
	list-style-position: outside;
	font-size: 1em;
}

#schoolBackground {
	/*background-color: #CC0000;*/
	background-color: white;
}

#school {
	z-index: 99;
	margin-bottom: 20px;
}

#school .sectionTitle {
	padding-bottom: 10px;
	z-index: 99;
	font-weight: bold;
}

#school .body span {
	font-style: italic;
}

#OSU {
	height: 400px;
	background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("OSU_logo.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 1;
}

#OSU h2 {
	font-size: 1.5em;
}

#BU {
	height: 400px;
	background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("Boston_University_Terriers_logo.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	z-index: 1;
}

#BU h2 {
	font-size: 1.5em;
}

#skills {
	background-color: ;
}